<p>Create a new Survey:</p>

<form action="/surveys" method="post">
  <label for="name">Survey Name:</label>
  <input type="text" name="name" id = "name">

  <button class = 'btn btn-default' type="submit">Add Survey</button>
</form>

<br>
<hr>
