<p>Here are the current surveys:</p>

<ul class="list-group">
  <% @surveys.each() do |survey| %>
  <li class="list-group-item"><a href="/surveys/<%= survey.id() %>"><%= survey.name() %></a></li>
  <% end %>
</ul>
